@media (max-width: 900px) {

    header {
        padding: .8rem;
    }

    header .navbar {
        position: absolute;
        top: 0; right: 0; left: 0; bottom: 0;
        background-color: rgba(0, 0, 0, 0.9);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        min-height: 100vh;

    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);

    }

    header .navbar a {
        display: block;
        margin: 1rem 0;
        color: #fff;
    }

    #menu{
        display: flex;
    }

    #close{
        display: none;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        background: transparent;
        font-size: 1.3rem;
    }

    .home .box {
        display: block;
        margin-top: 4rem;
        min-height: 60vh;
    }
    
    .home .box .image img {
        height: 20rem;
    }

    .home .box .contect{
        margin-bottom: 1.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .home .box .contect h1 {
        font-size: 1.3rem;
    }

    .home .box .contect p {
        letter-spacing: 0;
    }

}