{% load static %}

<title>
  {% block title %}Target || Login{% endblock %}
</title>
{% block foo %}
 {% include "Header.html" %}
{% endblock %}


  

  {% comment %} sign {% endcomment %}
    <section class="sign">
      <div class="container">
        <div class="contact-sign">
          <h1>Designed for a more interesting world</h1>
          <div class="flex">
            <p> Don't have an acount? <a href="/register"> Register Now </a></p>
            <img
              src="{% static 'assets/images/sign/Character.png' %}"
              alt="sign"
            />
          </div>
        </div>
        <div class="form">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="message"> 
              {% for message in messages %}
                  <h4> {{ message }} </h4>
              {% endfor %}
            </div>

            <h1>Logination</h1>

            <label for="username">username:</label>
            <input type="text" name="name" required />

            <label for="password">Password:</label>
            <input type="password" name="password" required />

            <input type="submit" value="Login" class="btn-sign"/>
            <div class="social">
                <span>   </span> 
                <p> Or continue with </p> 
                <span>   </span> 
            </div>
            <div class="icons"> 
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-google"></i>
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-apple"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
      </div>
    </section>

    {% comment %} js {% endcomment %}
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
