{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/response.css' %}" />
    <title>Target || Regular</title>
  </head>
  <body>
    
        {% comment %} header {% endcomment %}
        <header>
          <a href="/"><img src="{% static 'assets/images/home/Target1.png' %}" alt="Target"/></a>

          <nav class="navbar">
             <a href="/">Home</a>
             <a href="/services">Services</a>
             <a href="our_Project">Our Project</a>
             <a href="/about_us">About us</a>
             <a href="/contact_us">Contact us</a>
         </nav>

         <a href="/chat" class="chat">Let's Chat</a>
         <i class="fas fa-regular fa-bars" id="menu"></i>
         <i class="fas fa-solid fa-xmark" id="close"></i>

          {% if user.username %}
          <i class="fas fa-user" id="user"></i>
          <div class="profile">
             <p>welcome : <span>  {{user.username}} </span></p>
             <button>  <a href="/settings"> Settings </a></button>
             <button>  <a href="/logout"> Logout </a></button>
          </div>
          {% else %}
             <a href="/login"><i class="fas fa-user" ></i></a>
          {% endif %}
             
    </header>


    <section class="sign">

      <div class="container">
        <div class="contact-sign">
          <h1>Designed for a more interesting world</h1>
          <div class="flex">
            <p>Have an acount? <a href="/login"> Login Now </a></p>
            <img
              src="{% static 'assets/images/sign/Character.png' %}"
              alt="sign"
            />
          </div>
        </div>
        <div class="form">
          <form method="POST">
            {% csrf_token %}
            <div class="message"> 
              {% for message in messages %}
                  <h4> {{ message }} </h4>
              {% endfor %}
            </div>
            <h1>Registration</h1>
            <label for="name">Name:</label>
            <input type="text" name="name" required />

            <label for="email">Email:</label>
            <input type="email" name="email" required />

            <label for="password">Password:</label>
            <input type="password" name="password" required />

            <label for="confirm-password">Confirm Password:</label>
            <input
              type="password"
              name="confirm-password"
              required
            />

            <label for="gender">Gender:</label>
            <select name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div class="checkbox">
               <input type="checkbox" name="checkbox"/>
               <p>
                By creating an account you agree to the
                <a href="https://policies.google.com/terms"> terms of use </a>
                and our
                <a href="https://policies.google.com/privacy">
                  Privacy Policy
                </a>
              </p>
            </div>
            <input type="submit" value="Register" class="btn-sign"/>
          </form>
        </div>
      </div>
    </section>

    {% comment %} js {% endcomment %}
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
