{% load static %}

<title>
  {% block title %}Target || Register{% endblock %}
</title>
{% block foo %}
 {% include "Header.html" %}
{% endblock %}


  


    <section class="sign">

      <div class="container">
        <div class="contact-sign">
          <h1>Designed for a more interesting world</h1>
          <div class="flex">
            <p>Have an acount? <a href="/login"> Login Now </a></p>
            <img
              src="{% static 'assets/images/sign/Character.png' %}"
              alt="sign"
            />
          </div>
        </div>
        <div class="form">
          <form method="POST">
            {% csrf_token %}
            <div class="message"> 
              {% for message in messages %}
                  <h4> {{ message }} </h4>
              {% endfor %}
            </div>
            <h1>Registration</h1>
            <label for="name">Name:</label>
            <input type="text" name="name" required />

            <label for="email">Email:</label>
            <input type="email" name="email" required />

            <label for="password">Password:</label>
            <input type="password" name="password" required />

            <label for="confirm-password">Confirm Password:</label>
            <input
              type="password"
              name="confirm-password"
              required
            />

            <label for="gender">Gender:</label>
            <select name="gender">
              <option value="male">Male</option>
              <option value="female">Female</option>
              <option value="other">Other</option>
            </select>
            <div class="checkbox">
               <input type="checkbox" name="checkbox"/>
               <p>
                By creating an account you agree to the
                <a href="https://policies.google.com/terms"> terms of use </a>
                and our
                <a href="https://policies.google.com/privacy">
                  Privacy Policy
                </a>
              </p>
            </div>
            <input type="submit" value="Register" class="btn-sign"/>
          </form>
        </div>
      </div>
    </section>

    {% comment %} js {% endcomment %}
    <script src="{% static 'assets/js/script.js' %}"></script>
  </body>
</html>
