{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <title>Target</title>
   </head>
   <body>

      {% comment %} header {% endcomment %}

      <header>
            <a href="/"><img src="{% static 'assets/images/home/Target1.png' %}" alt="Target"/></a>

            <nav class="navbar">
               <a href="/">Home</a>
               <a href="services">Services</a>
               <a href="our_Project">Our Project</a>
               <a href="about_us">About us</a>
               <a href="contact_us">Contact us</a>
           </nav>

           <a href="/chat">Let's Chat</a>
      </header>


   </body>
</html>