{% load static %}

<title>
   {% block title %}Target || Settings{% endblock %}
</title>
{% block foo %}
  {% include "Header.html" %}
{% endblock %}


   

   <section class="settings">
      <p> <a href="/" class="Home">Home</a> / Account Settings for <b> {{user.username}} </b></p>
   </section>
   
   <section class="basic">
         <div class="container"> 
               <div class="box">
                  <p>Basic : </p>
                            
                     {% if user.username == 'mohamed shames' %}
                     <a href="/create-project" class="create-project">Create Project</a>
                     {% endif %}
                        
               </div>
               <div class="form">
                  <form method="POST" enctype="multipart/form-data">
                     {% csrf_token %}
                     <img src={{user_profile.profileimg.url}} />
                     <label for="name">Name:</label>
                     <input type="text" name="name" value="{{user.username}}">
             
                     <label for="email">Email:</label>
                     <input type="email" name="email" value="{{user.email}}">

                     <label for="phone">phone:</label>
                     <input type="number" name="phone" value="{{user_profile.phone}}">

                     <label for="location">location:</label>
                     <input type="text" name="location" value="{{user_profile.location}}">

                     
                     <label for="image">image:</label>
                     <input type="file" name="image" accept="image/*">

             
                     <label for="country">Country:</label>
                     <input type="text" name="country" value="{{user_profile.country}}">
                    
                     <div class="btns">
                        <button type="submit" class="cancel"> <a href="/">cancel</a> </button>   
                        <button type="submit" class="save"> save </button>
                     </div>
                 </form>
               </div>
         </div>
   </section>



      {% comment %} js {% endcomment %}
      <script src="{% static 'assets/js/script.js' %}"></script>
   </body>
</html>