{% load static %}

<title>
   {% block title %}Target || View{% endblock %}
</title>
{% block foo %}
  {% include "Header.html" %}
{% endblock %}


   

      <section class="our-project"> 
        <div class="container">
         
            
      
                
           <div class="box">
              <div class="image">
                 <img src="{{user_project.image.url}}" >
              </div>
              <div class="contact"> 
                 <h3> {{user_projects.name}} </h3>
                 <p>  {{user_projects.caption}} </p>
              </div>

           </div>
        </div>
     </section>

         {% comment %} contect us {% endcomment %}

    <div style="background-color: #ccc;">
      <section class="contact-service"> 
          <div class="container">
              <div class="box">
                  <h1>Contact us for the service you want to use</h1>
                  <a href=""  class="go-service"> Contact us </a>
              </div>
          </div>
      </section>
      </div>
  
      {% comment %} footer {% endcomment %}
  
      <footer>
      <a href="/"><img src="{% static 'assets/images/home/Target1.png' %}" alt="Target"/></a>
      <nav class="navbar">
          <a href="/">Support</a>
          <a href="/services">Privacy Policy</a>
          <a href="our_Project">Terms and Conditions</a>
      </nav>
      <p>© 2023 Target, All Rights Reserved</p>
      </footer>
  


      {% comment %} js {% endcomment %}
      <script src="{% static 'assets/js/script.js' %}"></script>
   </body>
</html>